<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Badge</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>

    <small class="">Newly built components with separate css and own html structure.</small>

    <div class="gap-1"></div>

    <div class="list">
      <div class="item">
        <ion-toggle mode="ios" color="primary"></ion-toggle>
        <label>Primary</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="tertiary"></ion-toggle>
        <label>Tertiary</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="secondary"></ion-toggle>
        <label>Secondary</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="success"></ion-toggle>
        <label>Success</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="warning"></ion-toggle>
        <label>Warning</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="danger"></ion-toggle>
        <label>Danger</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="light"></ion-toggle>
        <label>Light</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="medium"></ion-toggle>
        <label>Medium</label>
      </div>
      <div class="item">
        <ion-toggle mode="ios" color="dark"></ion-toggle>
        <label>Dark</label>
      </div>
    </div>

  </div>
</ion-content>