
<ion-header class="parallax-obj parallax-translate-obj">
    <div class="page-hd">
        <ion-menu-button class="txt-light" mode="ios"></ion-menu-button>
        <p class="title-mn txt-light">Appointment</p>
    </div>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
    <div class="page-ct pd-0">
        <div class="cover">
            <div class="wrapper-cover thumb-h100">
                <img src="assets/img/dm9.jpg" alt="">
            </div>
        </div> 

        <ion-item>
            <ion-datetime #myPicker (ionChange)="LoadNewDate(myPicker.value)" value="" placeholder="Select Date">Date: </ion-datetime>
        </ion-item>

 

        <div *ngFor="let time of times; let i = index">
            <div class="card-hd">
                <ion-grid>
                    <ion-row class="div-row">
                        <ion-col class="div-col">
                            <div>
                                <ion-radio color="success" value="0" (click)="createAppointment(time)"></ion-radio>
                            </div>
                        </ion-col>
                        <ion-col class="">
                            <div>
                                {{time}}
                            </div>
                        </ion-col>
                        <ion-col class="">
                            <div>
                                {{servicetitle}}
                            </div>
                        </ion-col>
                        <ion-col class="">
                            <div>
                                <del> {{(serviceprice + 5)}} €</del>
                            </div>
                        </ion-col>
                        <ion-col class="">
                            <div>
                                {{serviceprice}} €
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>



    </div>
</ion-content>
