 
<ion-header class="parallax-obj parallax-translate-obj">
    <div class="page-hd">
      <ion-menu-button class="txt-light" mode="ios"></ion-menu-button>
      <p class="title-mn txt-light">List Of Services</p>
    </div>
  </ion-header>
  
  <ion-content fullscreen common-parallax [scrollEvents]="true">
    <div class="page-ct pd-0"> 
      <div class="cover"> 
        <div class="wrapper-cover thumb-h100">
          <img src="assets/img/dm9.jpg" alt=""> 
        </div>
      </div> 
 
      <ion-card   *ngFor="let service of services; let i = index">      
        <ion-item-sliding  color="light">
        
          <ion-item>
            <ion-label>

            <h3 text-capitalize>Title: {{ service.title }}</h3>
            </ion-label>
            <ion-button slot="end" (click)="removeService(service , i)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
            <ion-button slot="end" (click)="selectService(service.id)" color="success">select</ion-button>
          </ion-item>  
          
          <ion-item-option text-capitalize color="success" (click)="ShowService(service , i)" >
              Price: {{ service.price }} EU
          </ion-item-option> 
      
        </ion-item-sliding>  
      </ion-card>   
      
</div>  
</ion-content>
