

  <div class="page-ct page-modal-box">
    
    <div class="bg-backdrop" (click)="dismiss()"></div>

    <div class="main-box-modal bg-light">
      <button class="round only-icon pull-right small bg-gradient" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>

      <div class="modal-ct">
        <div class="gap-1"></div>
        <small class="">Newly built components with separate css and own html structure.</small>
        <div class="gap-2"></div>
      </div>
    </div>

  </div>
