
<ion-header class="parallax-obj parallax-translate-obj">
    <div class="page-hd">
      <ion-menu-button class="txt-light" mode="ios"></ion-menu-button>
      <p class="title-mn txt-light">Service Booked</p>
    </div>
  </ion-header>

  <ion-content  fullscreen common-parallax [scrollEvents]="true">
      <div class="page-ct pd-0">
          <div class="cover">
              <div class="wrapper-cover thumb-h100">
                  <img src="assets/img/dm9.jpg" alt="">
              </div>
          </div>



       <div class="ion-padding" >
        <ion-card  mode="ios" class="appointment-list ion-no-margin"  *ngFor="let item of items; let i = index">

            <ion-card-content>
              <div class="col-date ion-text-center ">
                  <span class="small month">{{getMonth(item.date)}} </span> <br>
                  <span class="day">{{getDayNumber(item.date)}}</span> <br>
                  <span class="small">{{getDay(item.date)}}</span>

              <!--  <h3 text-capitalize>{{ item.service.title }}</h3>
                <h6 text-capitalize>{{ normalizza(item.date) }}</h6>
                <h6 text-capitalize>{{ normalizzaTime(item.start_time )}}</h6>-->
              </div>
                <div class="col-details">
                    <h2> {{ getTimeStr(item.start_time) }}</h2>
                    <h1> {{ item.service.title }}</h1>
                </div>
                <div class="pull-right col-details">
              <ion-button slot="end" (click)="removeAppointment(item , i)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
                </div>
             </ion-card-content>

        </ion-card>
      </div>

    </div>
  </ion-content>
