<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
      <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Action Sheet</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>

    <small class="">Newly built components with separate css and own html structure.</small>
    
    <div class="gap-1"></div>
    
    <button class="round bg-gradient mg-5" (click)="presentActionSheet()">Action Sheet</button>

    <div class="gap-3"></div>
  </div>
</ion-content>