<ion-header class="parallax-obj parallax-translate-obj">
    <div class="page-hd">
        <ion-menu-button class="txt-light" mode="ios"></ion-menu-button>
        <p class="title-mn txt-light">Setting</p>
    </div>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
    <div class="page-ct pd-0">
        <div class="cover">
            <div class="wrapper-cover thumb-h100">
                <img src="assets/img/dm9.jpg" alt="">
            </div>
        </div>


        <h1 class="ion-text-center">Set Working Time</h1>


        <div *ngFor="let set1 of settings">
            <app-available-time [setting1]="set1"></app-available-time>
        </div>

        <ion-button (click)="updateSeAddAvailabilitySlot()">Add Time</ion-button>
    </div>
</ion-content>
