<ion-header class="parallax-obj parallax-translate-obj">
    <div class="page-hd">
        <ion-menu-button class="txt-light" mode="ios"></ion-menu-button>
        <p class="title-mn txt-light">About</p>
    </div>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
    <div class="page-ct pd-0">

        <div class="cover">
            <img src="assets/img/dm13.jpg" alt="">
        </div>

        <!-- <div class="brand shadow-2 bg-white">
           <img src="assets/img/logo-b.png" alt="">
         </div>-->

        <div class="pd-30 main-about">
            <!--<img class="dc-1" src="assets/img/dc1.png" alt="">
            <img class="dc-2" src="assets/img/dc1.png" alt="">
            <img class="dc-3" src="assets/img/dc1.png" alt="">-->

            <div class="wrap-txt">

                <div class="gap-3"></div>

                <div class="">
                    <h1 class="fs-30 fw-900">Salone Del Bosco</h1>
                    <!--<p class="fs-14">There are many variations of passages of Lorem Ipsum available, but the majority.</p>-->
                </div>

                <!--   <div class="">
                     <div class="input-wrapper">
                       <ion-icon name="mail"></ion-icon>
                       <input class="block rectang" type="text" value="Email">
                     </div>
                     <button class="rectang left-icon bg-gradient mgt-5">
                       <label class="fw-500">Subscribe</label>
                     </button>
                   </div>-->

                <!--   <div class="gap-1"></div>

                   <p class="fs-12 txt-grey">Lorem Ipsum is simply dummy</p>-->
            </div>
        </div>


        <!--
            <div class="gap-6"></div>-->


        <!-- <div class="wrap-gl">
           <div class="gallery">
             <div class="gl-item gl-1">
               <img src="assets/img/dm7.jpg" alt="">
             </div>
             <div class="row-gl">
               <div class="gl-item gl-2">
                 <img src="assets/img/dm8.jpg" alt="">
               </div>
               <div class="gl-item gl-3">
                 <img src="assets/img/dm16.jpg" alt="">
               </div>
             </div>
             <div class="gl-item gl-4">
               <img src="assets/img/dm10.jpg" alt="">
             </div>
           </div>
         </div>-->




        <div class="info pd-30">
            <div class="pdr-40">
                <div class="txt pdb-30">
                    <small><!--Tonino BarberShop--></small>
                    <h1 class="fw-900">Find Us</h1>
                </div>
                <h6 class="fw-900">09-18 LUNEDI SABATO</h6>
                <p class="fs-14 mg-0">via piave , 46</p>
                <!--<p class="fs-14 mg-0">Koodinh@gmail.com</p>-->
                <p class="fs-14 mg-0">3332557007</p>
            </div>

            <div class="gap-6"></div>

            <div class="social">
                <button class="round only-icon bg-light">
                    <ion-icon name="call"></ion-icon>
                </button>
                <button class="round only-icon bg-light">
                    <ion-icon name="chatbubbles"></ion-icon>
                </button>
                <button class="round only-icon bg-light">
                    <ion-icon name="logo-facebook"></ion-icon>
                </button>
                <button class="round only-icon bg-light">
                    <ion-icon name="logo-twitter"></ion-icon>
                </button>
                <button class="round only-icon bg-light">
                    <ion-icon name="logo-google"></ion-icon>
                </button>
            </div>
        </div>

        <div class="gap-3"></div>

    </div>
</ion-content>
