<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Button</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>
    <h6 class="">Shape</h6>
    <div class="gap-1"></div>

    <button class="rectang bg-gradient mg-5">Rectang</button>
    <button class="clear mg-5">Clear</button>
    <br/>
    <button class="round bg-grey mg-5">Round</button>
    <button class="round-1 bg-grey mg-5">Round 1</button>
    <button class="round-2 bg-grey mg-5">Round 2</button>
    <br/>
    <button class="outline-1 bg-grey mg-5">Outline 1</button>
    <button class="outline-2 bg-grey mg-5">Outline 2</button>
    <button class="outline-3 bg-grey mg-5">Outline 3</button>
    <br/>
    <button class="underline-1 bg-grey mg-5">Underline 1</button>
    <button class="underline-2 bg-grey mg-5">Underline 2</button>
    <button class="underline-3 bd-gradient mg-5">Underline 3</button>
    
    <div class="gap-3"></div>

    <h6 class="">Size</h6>
    <div class="gap-1"></div>

    <button class="round block small bg-gradient">small</button>
    <button class="round block default bg-grey">Default</button>
    <button class="round block large bg-grey">Large</button>

    <div class="gap-3"></div>

    <h6 class="">Icon</h6>
    <div class="gap-1"></div>

    <button class="round left-icon bg-gradient">
      <ion-icon name="pulse"></ion-icon>
      <label>Left icon</label>
    </button>
    <button class="round right-icon bg-grey">
      <label>Right icon</label>
      <ion-icon name="star"></ion-icon>
    </button>
    <button class="round only-icon bg-grey">
      <ion-icon name="rocket"></ion-icon> 
    </button>
    <button class="round-2 only-icon bg-grey">
      <ion-icon name="moon"></ion-icon> 
    </button>

    <div class="gap-3"></div>

    <h6 class="">Expand</h6>
    <div class="gap-1"></div>

    <button class="round bg-gradient">Default</button>
    <button class="round block bg-grey">Block</button>

    <div class="gap-3"></div>

    <h6 class="">Color</h6>
    <div class="gap-1"></div>
    
    <button class="round bg-gradient">Gradient</button>
    <button class="round bg-light">Light</button>
    <button class="round bg-grey">Grey</button>
    <button class="round bg-medium">Medium</button>
    <button class="round bg-dark">Dark</button>
    <button class="round bg-main">Main</button>
    <button class="round bg-secondary">Secondary</button>
    <button class="round bg-tertiary">Teriary</button>
    <button class="round bg-success">Success</button>
    <button class="round bg-warning">Warning</button>
    <button class="round bg-danger">Danger</button>
    <button class="round bg-l-opct">Light opacity</button>
    <button class="round bg-d-opct">Dark opacity</button>

    <div class="gap-3"></div>

  </div>
</ion-content>