<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Radio</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>

    <small class="">Newly built components with separate css and own html structure.</small>

    <div class="list">
      <div class="item">
        <input class="bg-gradient" type="radio" name="themeList">
        <label>Gradient</label>
      </div>
      <div class="item">
        <input class="bg-main" checked type="radio" name="themeList">
        <label>Primary</label>
      </div>
      <div class="item">
        <input class="bg-tertiary" type="radio" name="themeList">
        <label>Tertiary</label>
      </div>
      <div class="item">
        <input class="bg-secondary" type="radio" name="themeList">
        <label>Secondary</label>
      </div>
      <div class="item">
        <input class="bg-success" type="radio" name="themeList">
        <label>Success</label>
      </div>
      <div class="item">
        <input class="bg-info" type="radio" name="themeList">
        <label>Info</label>
      </div>
      <div class="item">
        <input class="bg-warning" type="radio" name="themeList">
        <label>Warning</label>
      </div>
      <div class="item">
        <input class="bg-danger" type="radio" name="themeList">
        <label>Danger</label>
      </div>
      <div class="item">
        <input class="bg-medium" type="radio" name="themeList">
        <label>Medium</label>
      </div>
      <div class="item">
        <input class="bg-dark" type="radio" name="themeList">
        <label>Dark</label>
      </div>
      <div class="item">
        <input class="bg-d-opct" type="radio" name="themeList">
        <label>Dark opacity</label>
      </div>
    </div>

    <div class="gap-3"></div>
  </div>
</ion-content>