<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">List</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>
    <small class="">Newly built components with separate css and own html structure.</small>
    <div class="gap-2"></div>

    <h6>Basic</h6>
    <div class="gap-1"></div>

    <div class="list">
      <div class="item">
        <div class="txt-box">
          <label>Lorem Ipsum is simply dummy text of the printing</label>
        </div>
      </div>
      <div class="item bg-gradient">
        <div class="txt-box">
          <label>Lorem Ipsum has been the industry's standard</label>
        </div>
      </div>
      <div class="item bg-success">
        <div class="txt-box">
          <label>It has survived not only five centuries</label>
        </div>
      </div>
      <div class="item bg-danger">
        <div class="txt-box">
          <label>It was popularised in the 1960s with the release</label>
        </div>
      </div>
    </div>


    <div class="gap-2"></div>
    <h6>Group header</h6>
    <div class="gap-1"></div>

    <div class="list">
      <div class="item lst-head">
        <h6>Group A</h6>
      </div>
      <div class="item">
        <label>Small</label>
      </div>
      <div class="item">
        <label>Default</label>
      </div>
      <div class="item">
        <label>Large</label>
      </div>
      
      <div class="item lst-head">
        <h6>Group B</h6>
      </div>
      <div class="item">
        <label>Rectang</label>
      </div>
      <div class="item">
        <label>Smoth</label>
      </div>
    </div>


    <div class="gap-2"></div>
    <h6>Icon</h6>
    <div class="gap-1"></div>

    <div class="list">
      <div class="item">
        <ion-icon name="pulse"></ion-icon>
        <label>Small</label>
      </div>
      <div class="item">
        <ion-icon name="heart"></ion-icon>
        <label>Default</label>
      </div>
      <div class="item">
        <ion-icon name="bicycle"></ion-icon>
        <label>Large</label>
      </div>
      <div class="item">
        <ion-icon name="analytics"></ion-icon>
        <label>Rectang</label>
      </div>
    </div>


    <div class="gap-2"></div>
    <h6>Avatar</h6>
    <div class="gap-1"></div>

    <div class="list">
      <div class="item">
        <div class="avt-circle">
          <img src="assets/img/avt1.jpg" alt="">
        </div>
        <div class="txt-box">
          <h6 class="mg-0">Koodinh</h6>
          <small>koodinh@gmail.com</small>
        </div>
        <ion-icon name="gear"></ion-icon>
      </div>
      <div class="item">
        <div class="avt-circle">
          <img src="assets/img/avt2.jpg" alt="">
        </div>
        <div class="txt-box">
          <h6 class="mg-0">Lrandom</h6>
          <small>lrandomdev@gmail.com</small>
        </div>
        <ion-icon name="gear"></ion-icon>
      </div>
      <div class="item">
        <div class="avt-circle">
          <img src="assets/img/avt3.jpg" alt="">
        </div>
        <div class="txt-box">
          <h6 class="mg-0">DemoDev</h6>
          <small>demo@gmail.com</small>
        </div>
        <ion-icon name="gear"></ion-icon>
      </div>
      <div class="item">
        <div class="avt-circle">
          <img src="assets/img/avt4.jpg" alt="">
        </div>
        <div class="txt-box">
          <h6 class="mg-0">SupportMan</h6>
          <small>support@gmail.com</small>
        </div>
        <ion-icon name="gear"></ion-icon>
      </div>
    </div>


    <div class="gap-2"></div>
    <h6>Thumb</h6>
    <div class="gap-1"></div>

    <div class="list">
      <div class="item">
        <div class="thumb-2">
          <img src="assets/img/dm1.jpg" alt="">
        </div>
        <div class="txt-box">
          <h5 class="mgt-0">Small</h5>
          <small>Lorem Ipsum is simply dummy text of the printing</small>
        </div>
      </div>
      <div class="item">
        <div class="thumb-2">
          <img src="assets/img/dm2.jpg" alt="">
        </div>
        <div class="txt-box">
          <h5 class="mgt-0">Default</h5>
          <small>Lorem Ipsum has been the industry's standard</small>
        </div>
      </div>
      <div class="item">
        <div class="thumb-2">
          <img src="assets/img/dm3.jpg" alt="">
        </div>
        <div class="txt-box">
          <h5 class="mgt-0">Large</h5>
          <small>It was popularised in the 1960s with the release of Letraset</small>
        </div>
      </div>
      <div class="item">
        <div class="thumb-2">
          <img src="assets/img/dm4.jpg" alt="">
        </div>
        <div class="txt-box">
          <h5 class="mgt-0">Rectang</h5>
          <small>There are many variations of passages of Lorem</small>
        </div>
      </div>
    </div>


    <div class="gap-2"></div>
    <h6>Note</h6>
    <div class="gap-1"></div>

    <div class="list">
      <div class="item">
        <label>Small</label>
        <span class="badge rectang bg-gradient small">22</span>
      </div>
      <div class="item">
        <label>Default</label>
        <span class="badge rectang default">22</span>
      </div>
      <div class="item">
        <label>Large</label>
        <span class="badge rectang bg-gradient large">22</span>
      </div>
      <div class="item">
        <label>Rectang</label>
        <span class="badge rectang bg-gradient">22</span>
      </div>
      <div class="item">
        <span class="badge round bg-secondary">55</span>
        <label class="">Round</label>
        <span class="badge round bg-secondary">33</span>
      </div>
    </div>

    <div class="gap-3"></div>
  </div>
</ion-content>