<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Alert</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>

    <small class="">Newly built components with separate css and own html structure.</small>
    
    <div class="gap-2"></div>

    <button class="round block bg-gradient" (click)="presentAlert()">Alert Default</button>
    <button class="round block bg-gradient" (click)="presentAlertMultipleButtons()">Alert Multiple Buttons</button>
    <button class="round block bg-gradient" (click)="presentAlertConfirm()">Alert Confirm</button>
    <button class="round block bg-gradient" (click)="presentAlertPrompt()">Alert Prompt</button>
    <button class="round block bg-gradient" (click)="presentAlertRadio()">Alert Radio</button>
    <button class="round block bg-gradient" (click)="presentAlertCheckbox()">Alert Checkbox</button>

    <div class="gap-3"></div>
  </div>
</ion-content>