<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Card</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>
    <small class="">Newly built components with separate css and own html structure.</small>
    <div class="gap-2"></div>

    <div class="card">
      <div class="thumb-h200">
        <img src="assets/img/dm3.jpg" alt="">
      </div>
      <div class="card-ct">
        <div class="card-hd">
          <h6>Lorem Ipsum is simply dummy</h6>
          <button class="clear only-icon">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
        <p class="fs-14">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>


    <div class="card card-bg-img">
      <div class="thumb-h400">
        <img src="assets/img/dm1.jpg" alt="">
      </div>
      <div class="card-ct">
        <div class="btn-action">
          <button class="round-1 bg-l-opct only-icon">
            <ion-icon name="add"></ion-icon>
          </button>
          <button class="round-1 bg-l-opct only-icon">
            <ion-icon name="heart-empty"></ion-icon>
          </button>
        </div>
        <div class="">
          <div class="card-hd">
            <h6>Lorem Ipsum is simply dummy</h6>
            <button class="clear only-icon">
              <ion-icon name="more"></ion-icon>
            </button>
          </div>
          <div class="item pdl-0">
            <div class="avt-circle-2">
              <img src="assets/img/avt1.jpg" alt="">
            </div>
            <div class="txt-box">
              <h6 class="mg-0 fs-14">Koodinh</h6>
              <small>koodinh@gmail.com</small>
            </div>
            <ion-icon name="gear"></ion-icon>
          </div>
        </div>
      </div>
    </div>


    <div class="card bg-gradient">
      <div class="card-ct">
        <div class="card-hd">
          <h6>Lorem Ipsum is simply dummy</h6>
          <button class="clear only-icon txt-light">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
        <div class="item">
          <div class="thumb-1">
            <img src="assets/img/dm2.jpg" alt="">
          </div>
          <div class="txt-box">
            <h5 class="mg-0">Small</h5>
            <small>Lorem Ipsum is simply dummy text of the printing</small>
          </div>
        </div>
        <div class="item">
          <label class="fs-14">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
        </div>
      </div>
    </div>



    <div class="card card-bg-img">
      <div class="thumb-h400">
        <img src="assets/img/dm2.jpg" alt="">
      </div>
      <div class="card-ct">
        <div class="top-info with-50">
          <div class="item">
            <ion-icon name="pricetag"></ion-icon>
            <label>
              <p class="fs-12 mg-0">$26.00</p>
              <small class="fs-10">Price</small>
            </label>
          </div>
          <div class="item">
            <ion-icon name="time"></ion-icon>
            <label>
              <p class="fs-12 mg-0">16 min</p>
              <small class="fs-10">Posted at</small>
            </label>
          </div>
        </div>
        <div class="btn-action">
          <button class="round bg-gradient only-icon">
            <ion-icon name="heart-empty"></ion-icon>
          </button>
        </div>
        <div class="full-width">
          <ion-icon class="fs-40" name="snow"></ion-icon>
          <div class="card-hd">
            <h6 class="mgb-0 mgt-5">Printing and typesetting</h6>
          </div>
          <p class="fs-14 mg-0">Many desktop publishing packages</p>
          <div class="item pdl-0">
            <div class="txt-box">
              <small>Lorem Ipsum is simply</small>
            </div>
            <div class="avt-circle-1 pull-right mgr--10">
              <img src="assets/img/avt1.jpg" alt="">
            </div>
            <div class="avt-circle-1 pull-right">
              <img src="assets/img/avt2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="card bdra-0">
      <div class="thumb-h300">
        <img src="assets/img/dm5.jpg" alt="">
      </div>
      <div class="card-ct bg-medium pdr-40 pdb-30">
        <div class="bg-light mgt--50 mgl--15 pd-12 relative">
          <button class="round bg-gradient large only-icon mgt--40">
            <ion-icon name="analytics"></ion-icon>
          </button>
          <button class="clear only-icon large txt4 pull-right">
            <ion-icon class="fs-40" name="ios-arrow-round-forward"></ion-icon>
          </button>
          <div class="card-hd">
            <h4>Lorem Ipsum is simply</h4>
          </div>
          <p class="fs-12">It is a long established fact that a reader will be distracted.</p>
        </div>
      </div>
    </div>


    <div class="gap-3"></div>
  </div>
</ion-content>