<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Toast</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>
    <small class="">Newly built components with separate css and own html structure.</small>
    <div class="gap-2"></div>

    <button class="block bg-gradient" (click)="presentToast()">Basic toast</button>
    <button class="block bg-gradient" (click)="presentToastWithOptions()">Toast with option</button>

    <div class="gap-3"></div>
  </div>
</ion-content>