<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <button class="clear small" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
    <p class="title-mn">Modal basic</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>
    <small class="">Newly built components with separate css and own html structure.</small>
    <div class="gap-2"></div>

  </div>
</ion-content>