<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Input</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>
    <small class="">Newly built components with separate css and own html structure.</small>

    <div class="gap-2"></div>
    <h6>Shape</h6>

    <div class="input-wrapper">
      <input class="block rectang" type="text" placeholder="Rectang">
    </div>
    <div class="input-wrapper">
      <input class="block round" type="text" placeholder="Round">
    </div>
    <div class="input-wrapper">
      <input class="block round-1" type="text" placeholder="Round 1">
    </div>
    <div class="input-wrapper">
      <input class="block round-2" type="text" placeholder="Round 2">
    </div>
    <div class="input-wrapper">
      <input class="block outline-1" type="text" placeholder="Outline 1">
    </div>
    <div class="input-wrapper">
      <input class="block outline-2" type="text" placeholder="Outline 2">
    </div>
    <div class="input-wrapper">
      <input class="block outline-3" type="text" placeholder="Outline 3">
    </div>
    <div class="input-wrapper">
      <input class="block underline-1" type="text" placeholder="Underline 1">
    </div>
    <div class="input-wrapper">
      <input class="block underline-2" type="text" placeholder="Underline 2">
    </div>
    <div class="input-wrapper">
      <input class="block underline-3" type="text" placeholder="Underline 3">
    </div>

    <div class="gap-2"></div>
    <h6>Icon</h6>

    <div class="input-wrapper">
      <ion-icon name="star"></ion-icon>
      <input class="block rectang" type="text" placeholder="Rectang">
    </div>
    <div class="input-wrapper">
      <input class="block round" type="text" placeholder="Round">
      <ion-icon name="star"></ion-icon>
    </div>
    <div class="input-wrapper">
      <ion-icon name="star"></ion-icon>
      <input class="block outline-1" type="text" placeholder="Outline 1">
    </div>
    <div class="input-wrapper">
      <input class="block underline-1" type="text" placeholder="Underline 1">
      <ion-icon name="star"></ion-icon>
    </div>


    <div class="gap-2"></div>
    <h6>Color</h6>

    <div class="input-wrapper">
      <ion-icon name="star"></ion-icon>
      <input class="block round bg-gradient" type="text" value="Gradient">
    </div>
    <div class="input-wrapper">
      <ion-icon name="star"></ion-icon>
      <input class="block round bg-main" type="text" value="Primary">
    </div>
    <div class="input-wrapper">
      <ion-icon name="star"></ion-icon>
      <input class="block round bg-secondary" type="text" value="Secondary">
    </div>
    <div class="input-wrapper">
      <input class="block round bg-tertiary" type="text" value="Tertiary">
    </div>
    <div class="input-wrapper">
      <input class="block round bg-info" type="text" value="Info">
    </div>
    <div class="input-wrapper">
      <input class="block round bg-success" type="text" value="Success">
    </div>
    <div class="input-wrapper">
      <input class="block round bg-warning" type="text" value="Waning">
    </div>
    <div class="input-wrapper">
      <input class="block round bg-danger" type="text" value="Danger">
    </div>
    <div class="input-wrapper">
      <input class="block round bg-dark" type="text" value="Dark">
    </div>
    <div class="input-wrapper">
      <input class="block round bg-medium" type="text" value="Medium">
    </div>


    <div class="input-wrapper">
      <input class="block round" type="text" placeholder="Round">
    </div>

    <div class="input-wrapper">
      <ion-icon name="star"></ion-icon>
      <input class="block outline-1 bd-primary" type="text" placeholder="Outline 1">
    </div>
    <div class="input-wrapper">
      <ion-icon name="star"></ion-icon>
      <input class="block outline-2 bd-secondary" type="text" value="Outline 2">
    </div>
    <div class="input-wrapper">
      <input class="block underline-1 bd-success" type="text" value="Underline 1">
      <ion-icon name="star"></ion-icon>
    </div>
    <div class="input-wrapper">
      <input class="block underline-2 bd-dark" type="text" placeholder="Underline 2">
      <ion-icon name="star"></ion-icon>
    </div>

    <div class="gap-3"></div>
  </div>
</ion-content>