<ion-header class="parallax-obj parallax-translate-obj">
    <div class="page-hd">
        <ion-menu-button class="txt-light" mode="ios"></ion-menu-button>
        <p class="title-mn txt-light">Add Service</p>
    </div>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
    <div class="page-ct pd-0">
        <div class="cover">
            <div class="wrapper-cover thumb-h100">
                <img src="assets/img/dm9.jpg" alt="">
            </div>
        </div>

        <form #form="ngForm" >
            <ion-grid>
                <ion-row justify-content-center>
                    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div class="ion-padding">
                            <div class="input-wrapper">
                                <ion-input class="block round bg-grey" type="text" placeholder="Titolo"
                                           name="servicetitle" ngModel required></ion-input>
                            </div>
                            <div class="input-wrapper">
                                <ion-input class="block round bg-grey" type="text" placeholder="Descrizione"
                                           name="description" ngModel required></ion-input>
                            </div>

                            <div class="input-wrapper">
                                <ion-input class="block round bg-grey" name="serviceprice" type="" placeholder="Prezzo"
                                           ngModel required></ion-input>
                            </div>

                            <div class="input-wrapper">
                                <ion-input class="block round bg-grey" name="duration" type="" placeholder="Durata"
                                           ngModel required></ion-input>
                            </div>

                            <div class="input-wrapper">
                                <ion-label>Imagine</ion-label>
                                <amplify-photo-picker
                                        path="pics"
                                        (picked)="onImagePicked($event)"
                                        (loaded)="onImageLoaded($event)" (uploaded)="onImageUploaded($event)"
                                        class="block round bg-grey"
                                ></amplify-photo-picker>

                            </div>


                        </div>

                        <div class="ion-padding">
                            <ion-button size="large" (click)="createService(form);form.reset()" [disabled]="form.invalid" expand="block">Add New
                                Service
                            </ion-button>
                        </div>


                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>


    </div>
</ion-content>
