<ion-header text-center>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Service Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>  

 
<ion-grid>

  <ion-item text-center color="dark">
      <ion-label>Add New Service</ion-label>
  </ion-item>  
 
 
<form #form="ngForm" (ngSubmit)="createService(form)">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3 class="test-black">Add New Service</h3>
        </div>
        <div padding>
          <ion-item>
            <ion-input name="servicetitle" type="" placeholder="Title" ngModel required color="dark"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="serviceprice" type="" placeholder="Price" ngModel required></ion-input>
          </ion-item>
        </div>

          
        <ion-item>
          <ion-label>Branch</ion-label>
          <ion-select placeholder="Select Branch" [(ngModel)]="selectedCodeValue" name="branchname" required>
            <ion-select-option *ngFor="let branch of branchs" value="{{branch.id}}" >{{ branch.branch }}</ion-select-option> 
          </ion-select>
        </ion-item>  


        <div padding>
          <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Add New Service</ion-button>
        </div>
      </ion-col>  
    </ion-row>
  </ion-grid>
</form>

</ion-grid>
  
</ion-content>