<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-menu-button class="txt-light" mode="ios"></ion-menu-button>
    <p class="title-mn txt-light">Login & Register</p>
  </div>
</ion-header>

<ion-content fullscreen common-parallax [scrollEvents]="true">
  <div class="page-ct pd-0">

    <div class="cover">
      <img src="assets/img/dm13.jpg" alt="">
    </div> 
      <div class="ion-padding">
    <amplify-authenticator ></amplify-authenticator>
  </div>
  </div>
</ion-content>
 