<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Badge</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>

    <small class="">Newly built components with separate css and own html structure.</small>

    <div class="gap-1"></div>

    <div class="list">
      <div class="item">
        <label>Small</label>
        <span class="badge rectang bg-gradient small">22</span>
      </div>
      <div class="item">
        <label>Default</label>
        <span class="badge rectang bg-gradient default">22</span>
      </div>
      <div class="item">
        <label>Large</label>
        <span class="badge rectang bg-gradient large">22</span>
      </div>
      <div class="item">
        <label>Rectang</label>
        <span class="badge rectang bg-gradient">22</span>
      </div>
      <div class="item">
        <label>Round</label>
        <span class="badge round bg-secondary">33</span>
      </div>
      <div class="item">
        <label>Round 1</label>
        <span class="badge round-1 bg-tertiary">33</span>
      </div>
      <div class="item">
        <label>Round 2</label>
        <span class="badge round-2 bg-tertiary">33</span>
      </div>
      <div class="item">
        <label>Gradient</label>
        <span class="badge rectang bg-gradient">22</span>
      </div>
      <div class="item">
        <label>Secondary</label>
        <span class="badge round-1 bg-secondary">33</span>
      </div>
      <div class="item">
        <label>Tertiary</label>
        <span class="badge round-1 bg-tertiary">33</span>
      </div>
      <div class="item">
        <label>Success</label>
        <span class="badge bg-success">44</span>
      </div>
      <div class="item">
        <label>Warning</label>
        <span class="badge bg-warning">55</span>
      </div>
      <div class="item">
        <label>Danger</label>
        <span class="badge bg-danger">66</span>
      </div>
      <div class="item">
        <label>Light</label>
        <span class="badge bg-light">77</span>
      </div>
      <div class="item">
        <label>Light Opacity</label>
        <span class="badge bg-l-opct">77</span>
      </div>
      <div class="item">
        <label>Grey</label>
        <span class="badge bg-grey">11</span>
      </div>
      <div class="item">
        <label>Medium</label>
        <span class="badge gb-medium">88</span>
      </div>
      <div class="item">
        <label>Dark</label>
        <span class="badge bg-dark">99</span>
      </div>
      <div class="item">
        <label>Dark Opacity</label>
        <span class="badge bg-d-opct">99</span>
      </div>
      <div class="item">
        <span class="badge bg-gradient mgr-15">22</span>
        <label>Gradient</label>
        <span class="badge bg-gradient mgl-5">22</span>
      </div>
    </div>

    <div class="gap-3"></div>
  </div>
</ion-content>