<ion-header class="parallax-obj parallax-translate-obj">
  <div class="page-hd">
    <ion-back-button mode="ios" text="" icon="ios-arrow-round-back"></ion-back-button>
    <p class="title-mn">Chip</p>
  </div>
</ion-header>

<ion-content common-parallax [scrollEvents]="true">
  <div class="page-ct bg-white">

    <div class="gap-1"></div>

    <small class="">Newly built components with separate css and own html structure.</small>

    <h6>Basic</h6>
    <div class="gap-1"></div>

    <div class="chip">
      <label>Default</label>
    </div>
    <div class="chip">
      <ion-icon name="pulse"></ion-icon>
      <label>Icon</label>
    </div>
    <div class="chip">
      <div class="avt-circle">
        <img src="assets/img/avt1.jpg" alt="">
      </div>
      <label>Avatar</label>
    </div>


    <div class="gap-2"></div>
    <h6>Color</h6>
    <div class="gap-1"></div>


    <div class="chip bg-gradient">
      <ion-icon name="pulse"></ion-icon>
      <label>Gradient</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip bg-secondary">
      <label>Secondary</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip bg-tertiary">
      <label>Tertiary</label>
    </div>
    <div class="chip bg-success">
      <div class="avt-circle">
        <img src="assets/img/avt4.jpg" alt="">
      </div>
      <label>Success</label>
    </div>
    <div class="chip bg-warning">
      <div class="avt-circle">
        <img src="assets/img/avt1.jpg" alt="">
      </div>
      <label>Warning</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip bg-danger">
      <div class="avt-circle">
        <img src="assets/img/avt2.jpg" alt="">
      </div>
      <label>Danger</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip bg-light">
      <label>Light</label>
    </div>
    <div class="chip bg-l-opct">
      <label>Light opacity</label>
    </div>
    <div class="chip bg-grey">
      <label>Grey</label>
    </div>
    <div class="chip bg-dark">
      <label>Dark</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip bg-d-opct">
      <div class="avt-circle">
        <img src="assets/img/avt3.jpg" alt="">
      </div>
      <label>Dark opacity</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>


    <div class="gap-2"></div>
    <h6>Outline</h6>
    <div class="gap-1"></div>

    <div class="chip outline-1 bd-gradient">
      <ion-icon name="pulse"></ion-icon>
      <label>Gradient</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip outline-1 bd-secondary">
      <label>Secondary</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip outline-1 bd-tertiary">
      <label>Tertiary</label>
    </div>
    <div class="chip outline-1 bd-success">
      <div class="avt-circle">
        <img src="assets/img/avt4.jpg" alt="">
      </div>
      <label>Success</label>
    </div>
    <div class="chip outline-1 bd-warning">
      <div class="avt-circle">
        <img src="assets/img/avt1.jpg" alt="">
      </div>
      <label>Warning</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip outline-1 bd-danger">
      <div class="avt-circle">
        <img src="assets/img/avt2.jpg" alt="">
      </div>
      <label>Danger</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip outline-1 bd-grey">
      <label>Grey</label>
    </div>
    <div class="chip outline-1 bd-medium">
        <label>Medium</label>
      </div>
    <div class="chip outline-1 bd-dark">
      <label>Dark</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip outline-1 bd-d-opct">
      <div class="avt-circle">
        <img src="assets/img/avt3.jpg" alt="">
      </div>
      <label>Dark opacity</label>
      <ion-icon class="fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>




    <div class="gap-2"></div>
    <h6>Icons</h6>
    <div class="gap-1"></div>

    <div class="chip">
      <ion-icon name="paw"></ion-icon>
      <label>Icon</label>
    </div>
    <div class="chip">
      <ion-icon name="pulse"></ion-icon>
      <label>Icon second</label>
      <ion-icon class="txt3 fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>
    <div class="chip">
      <div class="avt-circle">
        <img src="assets/img/avt1.jpg" alt="">
      </div>
      <label>Avatar</label>
      <ion-icon class="txt3 fs-18 mgr--5" name="close-circle"></ion-icon>
    </div>

    <div class="gap-3"></div>
  </div>
</ion-content>